body {
  background: red;
}

.container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
}

.pulse-button {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: none;
  box-shadow: 0 0 0 0 rgb(193, 85, 46);
  border-radius: 50%;
  background: #C1552E url(../../../assets/images/marvin-the-martian.png);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
// .pulse-button:hover 
// {
//   -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
// }

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}