.page {
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80vw;
        
        select {
            background: transparent;
            border: none;
            border-bottom: white 1px solid;
            border-radius: 0;
            color: #f5f5f5;
            font-size: 18px;
            margin-bottom: 2.3vh;
            padding-bottom: .5vh;
            -webkit-appearance: none;
        }
            select.ng-dirty.ng-invalid {
                background-color: #ffdddd;
            }
        button {
            background: transparent;
            border: none;
            color: #f5f5f5;
            cursor: pointer;
            font-size: 36px;
            margin-top: 10vh;
            &:disabled {
                color: pink;
            }
        }
        textarea {
            background: transparent;
            border: 1px solid black;            
            color: #f5f5f5;
            font-size: 18px;
            height: 25vh;
            padding: 2% 3%;
            &::-webkit-input-placeholder {
            color: #f5f5f5;
            font-size: 18px;
            }
        }
         textarea.ng-dirty.ng-invalid {
                border: 2px solid red;
            }
    }
    h1 {
        color: #f5f5f5;
        line-height: 20px;
        margin: 0 auto;
        padding: 5.6vh 0;
        text-align: center;
        white-space: pre-line;
        width: 80vw;
        span {
            font-size: 14px;
        }
    }
}