<!--<div>
<input type="text" name="Name" placeholder="name">
<input type="number" name="Age" placeholder="Age">
<select>
  <option value="">Select Occupation</option>
  <option *ngfor="let job of jobs" value="{{ job.id }}">{{job.name}}</option>
</select>
<button class="check-in">Check In</button>
</div>-->

<div class="page">
  <input type="text" #Item/><button (click)="addListItem(item.value)">Add Item</button>
  {{ data }}
  <!--<form>
    <input type="text" placeholder=""/>
    <input type="number" placeholder=""/>
    <select>
      <option value="none">Select a Job</option>
    </select>
  </form>-->
  <div class ="page">
    <p *ngIf="data.length > 10">Your list is too long!</p>
    <ul [ngClass]="{ warning: data.length > 10, ok: data.length < 10 }">
      <li *ngFor="let encounter of data">{{ encounter.text }}
        <button type="button" (click)="removeListItem(encounter)">X</button>
      </li>
    </ul>
    </div>
</div>