.page {
    background: #c1552e;
    height: 73.7vh;
    overflow: scroll;
    h1 {
        font-size: 28px;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 0;
        padding-bottom: 5vh;
        padding-top: 3vh;
        text-align: center;
        white-space: pre-line;
        span {
            font-size: 19px;
            font-weight: normal;
        }
    }
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 90%;
        p {
            margin: 0;
        }
        li {
            line-height: 18px;
            padding-bottom: 2vh;
        }
    }
}

footer {
    background: black;
    display: flex;
    height: 26.3vh;
    text-align: center;
    h2 {
        cursor: pointer;
        font-size: 35px;
        font-weight: normal;
        margin: 0;
    }
    a {
        color: white;
        margin: auto;
        text-decoration: none;
        width: 100%;  
    }
}